.last-seen {
    font-size: 1rem;
    color: #888;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    padding-right: 5px;
}

p{
    margin: 0;
}

.last-seen::before {
    content: 'Last seen: ';
    font-weight: bold;
    margin-right: 5px;
}