

@font-face {
    font-family: "Cute Font";
    src: url("../fonts/CuteFont-Regular.ttf") format("truetype");
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


header{
    font-family:"Cute Font";
    font-size: xx-large;
    font-weight: bolder;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    background-color: rgb(124, 124, 124);
    border-radius: 5px;
    border: none;
    padding: 8px;
    margin: 10px;
}

input::placeholder{
    color: white;
    text-align: center;
}

button {
    color: rgb(124, 124, 124);
    background-color: white;
    border-color: rgb(124, 124, 124);
    margin: 10px;
}
#register {
    color: rgb(124, 124, 124);
}

link{
    color: rgb(124, 124, 124);
    text-decoration: none;
}